/*----------- COLORS -----------*/

$black: #000;
$white: #fff;
 
$primary-1: #d6cda8;
$primary-2: #baa64f;
 
$secondary-1: #c4c4c4;
$secondary-2: #868885;
$secondary-3: #D6D6D6;
 
$bg-color: #1D1D1B;

$bg-color-1: #1d1d1b;
$bg-color-2: #ececec;

/*------------------- FONT-FAMILY -------------------*/

@font-face {
    font-family: 'robotoblack';
    src: url('../../fonts/roboto/roboto-black-webfont.woff2') format('woff2'),
         url('../../fonts/roboto/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../../fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'robotomedium';
    src: url('../../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../../fonts/roboto/roboto-medium-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'robotoregular';
    src: url('../../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adam_boldbold';
    src: url('../../fonts/adam1/adam-bold-webfont.woff2') format('woff2'),
         url('../../fonts/adam1/adam-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'adam_lightlight';
    src: url('../../fonts/adam1/adam-light-webfont.woff2') format('woff2'),
         url('../../fonts/adam1/adam-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'adam_mediummedium';
    src: url('../../fonts/adam1/adam-medium-webfont.woff2') format('woff2'),
         url('../../fonts/adam1/adam-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

@font-face {
    font-family: 'aquawaxblack';
    src: url('../../fonts/aquamax1/aquawax_black_trial-webfont.woff2') format('woff2'),
         url('../../fonts/aquamax1/aquawax_black_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aquawaxlight';
    src: url('../../fonts/aquamax1/aquawax_light_trial-webfont.woff2') format('woff2'),
         url('../../fonts/aquamax1/aquawax_light_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aquawaxmedium';
    src: url('../../fonts/aquamax1/aquawax_medium_trial-webfont.woff2') format('woff2'),
         url('../../fonts/aquamax1/aquawax_medium_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*----------- FONT-SIZE -----------*/

// $s-size: 1.3rem;
// $m-size: 1.8rem;
// $h1-size: 10rem;
// $h2-size: 7rem;
// $h3-size: 5rem;
