#cart-icon-navbar {
    color: $primary-2;
    cursor: pointer;
}

#cart-popover-container {
    z-index: 9999;
    width: 350px;
    height: 400px;
    background-color: white;
    top: 42px;
    right: 0px;
}

#container-popover-lines{
    height: 308px;
}

#popover-cart-btn {
    color: black;
}