#carousel-card-product {
	width: 190px;
	min-height: 240px;
	color: black;
}

.carousel-card-product-discount {
	right: 0px;
	color: white;
	width: 45px;
	background-color: $tertiary-1;
}

.carousel-card-product-img-top{
	object-fit: contain;
	height: 150px;
	background-color: white;
}

.old-price {
	text-decoration: line-through;
	text-decoration-thickness: 1px;
}