#product-card {
	width: 300px;
	height: 380px;
	border-radius: 0;
	box-shadow: -14px -10px 1px $primary-1;


}
.card-img-top{
	height: 180px;
	background-color: grey;
}

.product-card-body {
	background-color: $secondary-3;
}


