#cart-container {
    background-color: #fff;
}

#btn-cart-checkout {
    background-color: $primary-2;
    color: white;
    transition: transform 0.3s;
}
#btn-cart-checkout:hover {
    transform: scale(1.1);
}

.delete-icon {
    cursor: pointer;
}