@font-face {
    font-family: 'aquawaxblack';
    src: url('../../fonts/aquamax1/aquawax_black_trial-webfont.woff2') format('woff2'),
         url('../../fonts/aquamax1/aquawax_black_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aquawaxlight';
    src: url('../../fonts/aquamax1/aquawax_light_trial-webfont.woff2') format('woff2'),
         url('../../fonts/aquamax1/aquawax_light_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aquawaxmedium';
    src: url('../../fonts/aquamax1/aquawax_medium_trial-webfont.woff2') format('woff2'),
         url('../../fonts/aquamax1/aquawax_medium_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#footer{
    font-family: 'aquawaxmedium';
    background-color: $bg-color-2;
    margin-top: 10%;
    display: flex;
    height: 40%;
    justify-content: space-around;
    padding-top: 5vh;
    .logo{
        width: 25vh;
        .image{
            display: flex;
            .bg-logo{
                background-color: $bg-color-1;
                width: 5rem;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.5rem;
                margin-right: 2rem;
            }
            h5{
                font-family: 'adam_boldbold';
                margin-top: 0.2em;
                font-size: 1.2em;
            }
            img{
                // padding: 1em;
                width: 2.5em;
            }
        }
        p{
            margin-top: 10%;
        }
    }

    .social-icons{
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        img{
            margin-top: 10%;
        }
    }
    .link{
        display: flex;
        flex-wrap: wrap;
        .footer-nav{
            margin-left: 20px;
            div{
                margin-top: 1em;
                display: flex;
                flex-direction: column;
                a{
                    color: $bg-color;
                    margin-left: 20px;
                    margin-top: 1em;
                }
            }
        }
        a{
            font-family: 'aquawaxmedium';
            color: $bg-color;
            margin-left: 20px;
        }
    }
}