main{
    display: flex;
    width: 150vh;
    justify-content: start;
    margin-top: 2%;

    .sidebar{
        background-color: $secondary-2;  
    }
    .products{
        margin-left: 2%;
        background-color: $secondary-2;
    }
}