#large-picture-left-banner{
    width: 550px;
    height: 400px;
    background-color: gray;
    box-shadow: -7px -7px 1px $primary-2;
}
.small-picture-right-banner{
    width: 200px;
    height: 100px;
    background-color: gray;
}

#right-row-banner {
    left: -50px;
    .small-picture-background{
        background-color: $secondary-3;
    }
}
#chevron-right-main-home{
    font-size: 120px;
}



// .container{
//     .row{
//        .specialProducts{
//             margin-top: 3%;
//             margin-bottom: 3%;
//             .text-card{
//                 width: 250px;
//                 height: 150px;
//                 padding: 10px;
//                 background-color: $primary-2;
//                 margin-left: 2%;
//                 box-shadow: -7px -7px 1px $secondary-3;


//                 h4{
//                     color: $white;
//                     margin-left: 42%;
//                     margin-top: 15%;
//                     -moz-transform: rotate(30deg);  
//                     -webkit-transform: rotate(30deg); 
//                 }
//                 .triangles{
//                     width: 0;
//                     height: 0;
//                     border-left: 1px solid transparent;
//                     border-right: 245px solid transparent;
//                     border-bottom: 145px solid $primary-1;
//                     top: -58%;
//                     left: -5%;
//                     // box-shadow: -16px -16px 1px $primary-2;
//                     position: relative;
//                 }
//             }
//         } 

