#nav{
  background-color: $bg-color-1;
  color: $primary-1;
  display: flex;
  padding: 5px;
  justify-content: space-around;

  .logo{
  
    img{
      width: 3em;
    }
  }
  .navigation{
    width: 150vh;
    margin-top: 10px;

    a{
      margin-left: 6%;
    }

  }

}