#navbar{
  background-color: $bg-color-1;
  font-family: 'aquawaxmedium';

  .navbar-toggler {
    background-color: $primary-2;
  }

  a{
      margin-left: 50px !important;
      color: $primary-2 !important;
      font-size: 1.2em;
  }
        
  img{
    width: 40px;
  }
}